[submodule "third-party/opencv"]
    path = third-party/opencv
    url = https://github.com/opencv/opencv
[submodule "third-party/FunctionalPlus"]
	path = third-party/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus
[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
